/* Global Styles */

:root {
  --primary: #ffffff;
  --secondary: #2f3131;
  --accent: #f0810f;
  --detail: #426e86;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* Font Styles */
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  background: #101010;
  color: var(--primary);
  margin: 0;
}

.content-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 10px;
}

/* Font Styles */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-size: 2rem;
  margin-bottom: 5px;
}

header,
footer {
  text-align: center;
}

a {
  color: var(--accent);
}

a:hover {
  color: var(--detail);
}

hr {
  border-bottom: 0;
  border-top: 1px solid var(--secondary);
}

figcaption {
  font-size: 14px;
}

/* Nav */

.nav-bar {
  width: 100%;
  background: black;
  color: white;
}

.logo {
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  font-size: 1.5rem;
  border-bottom: 1px solid #464646;
}

nav {
  padding: 10px;
}

nav a {
  color: white;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  color: white;
  border-bottom: 1px solid white;
}

@media (min-width: 768px) {
  .nav-bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 10;
  }

  .logo {
    border-bottom: 0;
  }
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav.internal {
  background: #3e3e3e;
  text-align: center;
}

/* Hero */

.hero {
  position: relative;
}

.hero img {
  display: block;
  max-height: 75vh;
  object-fit: cover;
}

.hero .headline-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.hero h2 {
  font-size: 1.2rem;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  letter-spacing: 4px;
  margin-top: 0;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  .hero h2 {
    font-size: 2rem;
  }
}

/* quote */

.quote {
  padding: 3rem;
  color: var(--primary);
  background-image: url('images/galaxy.jpg');
  background-attachment: fixed;
  text-shadow: 0px 0px 4px black;
}

.quote figure {
  text-align: center;
  margin: 0;
}

.quote blockquote {
  font-style: italic;
}

/* Layout Styles */

@media (min-width: 768px) {
  .two-columns {
    display: flex;
  }

  .two-columns figure {
    margin-right: 0;
  }
}

img {
  width: 100%;
}

.image-gallery {
  display: flex;
  flex-flow: wrap;
  align-items: center;
}

.image-gallery img {
  border-radius: 10px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .image-gallery img {
    width: 45%;
    margin: 2.5%;
    transform: scale(1);
    transition: transform 0.5s ease;
  }

  .image-gallery img:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
  }
}

/* Button */

.button {
  border: 2px solid var(--accent);
  padding: 10px 20px;
  text-decoration: none;
}

.button:hover {
  border-radius: 2px solid var(--secondary);
  background: var(--accent);
  color: var(--primary);
  transition: all 1s ease;
}

/* Projects */

.project {
  border: 1px solid var(--secondary);
  padding: 30px;
}

.project h3 {
  margin: 0;
}

.project em {
  display: block;
}

.project a {
  display: block;
}

.project .project-links {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.project:hover {
  background: var(--secondary);
  color: var(--primary);
  cursor: crosshair;
  transition: all 0.5s ease;
}

@media (min-width: 768px) {
  .project-list {
    display: flex;
    justify-content: space-evenly;
  }

  .project {
    max-width: 400px;
    margin: 30px;
    width: 100%;
  }
}
